extends layout

block content
  h1 메시지 보내기
  form(action="/message", method="post")
    .row(style="padding-left: 10px; padding-right: 10px;")
      .col-md-6.col-sm-12
        h3 채널 선택
        select.custom-select(required, name="channel")
          option(value="") 채널을 선택하세요
          each guild in client.guilds.cache.array()
            optgroup(label=guild.name)
              each chn in guild.channels.cache.array()
                if chn.type == "text"
                  option(value=chn.id)= chn.name
      .col-md-6.col-sm-12
        h3 메시지 입력
        .form-group
          textarea.form-control(name="message", required)
    button.btn.btn-primary(type="submit") 전송
